.main__container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 7rem 5rem;
  border: 2px solid #5f6368;
  border-radius: 8px;
  max-width: 45rem;
}

form h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

form input {
  border: 1px solid #333;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  background: rgba(95, 99, 104, 0.1);
  border-radius: 8px;
  margin-bottom: 1.3rem;
  outline: none;
}

form button {
  border: 0;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background: #000;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}