.folder__container header {
  margin-bottom: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .download {
  border: 0;
  background: none;
}

.folders {
  display: flex;
  flex-wrap: wrap;
}

.folder__container .folders li {
  margin: .7rem;
  min-height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 18rem;
}

.folders li a {
  order: 2;
  text-align: center;
  margin-top: 1.5rem;
}