@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  margin: 0 1.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  outline: none;
  box-sizing: border-box;
}

button {
  transition: transform ease 100ms;
}

button:hover,
button:focus {
  transform: scale(1.05);
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;
}

.message__container {
  border: none;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
}

.message__container .title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.message__container .message {
  font-size: 2rem;
  line-height: 1.45;
  margin-bottom: 3rem;
  color: #333;
}

.message__container button {
  border: 0;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background: #000;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.loading {
  font-size: 4.5rem;
  font-weight: 700;
  color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading svg {
  animation: routate 2s linear infinite;
}

@keyframes routate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}