.folder__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5rem 0 8rem;
}

.folder__container h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.3rem;
}

.folder__container li {
  list-style: none;
  display: flex;
  padding: 1.4rem 2rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  transition: background 200ms ease-out;
}

.folder__container li:hover {
  background: rgba(95, 99, 104, 0.1);
}

.file__info {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.file__info:focus,
.file__info:hover {
  text-decoration: underline;
}

.file__info svg {
  color: #5f6368;
  min-width: 40px;
  margin-right: 1rem;
}

.folder__container span {
  color: #5f6368;
  font-size: 1.4rem;
}

.box__upload {
  padding: 2rem 4rem;
  margin: 2rem 0;
  min-height: 11rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border-width: 2px;
  border-color: #5f6368;
  border-style: dashed;

  transition: background 200ms ease-out;
  cursor: pointer;
}

.box__upload:hover {
  background: rgba(95, 99, 104, 0.1);
}

.box__upload strong {
  color: #5f6368;
}